@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2C5F2D ;
  --color-secondary: #D94F30;
  --color-grey: #A9A9A9;
  --neutral: #320F0F;
  --accent: #FDF6ED;
  --white: #FFFFFF;
  --black: #000000;

  --font-inter: 'Inter';
  --font-poppins: 'Poppins';
  --font-roboto: 'Roboto';
}


@keyframes gentleBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px); /* tweak this for more or less bounce */
  }
}

.gentle-bounce {
  animation: gentleBounce 1.2s infinite;
}
